header {
    background-color: var(--color-header-background);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--texto-header);
    font-family: var(--fuente-titulos);
  }
  
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    max-width: 1200px;
  }
  
  .logo img {
    width: 70px;
    height: 50px;
  }
  
  .menu {
    display: flex;
    gap: 10px;
    list-style: none;
  }
  
  .menu li a {
    text-decoration: none;
    color: var(--color-header-text);
  }
  
  .menu li a:hover {
    color: var(--color-header-text-hover);
  }
  
  .hamburguesa {
    display: none;
  }