
main {
    background-image: url(../assets/);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.principal h1{
    text-align: center;
    
}

.ciclos{
    display: flex;
    width: 100%;
}

.ciclos a{
    list-style: none;
    color: white;
    text-decoration: none;
    
}

footer{
    background-color: var(--color-footer-background);
    color: var(--color-footer-text);
}